.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, nav, footer {
  background: #f8f8f82b;
  padding: 1rem;
  text-align: center;
}

main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.wishlist {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid layout */
  gap: 1rem;
  justify-content: center;
}

.wishlist-item {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.wishlist-item h2 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.wishlist-item p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.wishlist-item button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem;
}
